
@font-face {
    font-family: 'borjomilightcregular';
    src: url('/fonts/borjomilightc-webfont.eot');
    src: url('/fonts/borjomilightc-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/borjomilightc-webfont.woff2') format('woff2'),
    url('/fonts/borjomilightc-webfont.woff') format('woff'),
    url('/fonts/borjomilightc-webfont.ttf') format('truetype'),
    url('/fonts/borjomilightc-webfont.svg#borjomilightcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    transform-origin: 0 0;
}
#start-screen {
    background: #b6eae8;
    min-height: 100%;
}

.layer {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;

}
#scene-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#scene {
    width: 100%;
    height: 100%;
}

.layer img {
    position: absolute;
}
#parallax-image-1 {
    left: 78%;
    top: 44%;
}
#parallax-image-2 {
    left: 76%;
    top: 4%;
}
#parallax-image-3 {
    top: 76%;
    left: 3%;
}
#parallax-image-4 {
    top: 50%;
    left: 0;
}
#parallax-image-5 {
    top: 0;
    left: 10px;
}
#parallax-image-6 {
    top: 62%;
    right: 0;
}
#parallax-image-7 {
    right: 0;
    top: 26%;
}
#parallax-image-8 {
    top: 61%;
    left: 23%;
}
#parallax-image-9 {
    top: 85%;
    right: 1%;
}
#parallax-image-10 {
    top: 27%;
    left: 84%;
}
#parallax-image-11 {
    top: 21%;
    left: 10%;
}
#parallax-image-12 {
    top: 67%;
    left: 74%;
}
#parallax-image-13 {
    top: 74%;
    left: 15%;
}
#parallax-image-14 {
    top: 50%;
    left: 12%;
}
#parallax-image-15 {
    top: 6%;
    left: 34%;
}
#parallax-image-16 {
    top: 91%;
    right: 15%;
}
#parallax-image-17 {
    top: 0;
    right: 0;
}
#site-name-wrapper {
    background: url(/img/first-screen/flowers.png) center center no-repeat;
    position: relative;
    z-index: 1;
    background-size: contain;
    width: 700px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#site-name h1,
#site-name h3 {
    margin: 0;
}
#site-name h1 {
    font-size: 50px;
    font-family: borjomilightcregular;
}
#site-name h3 {
    font-size: 20px;
    letter-spacing: 1px;
}
#site-name-flex {
    margin: 0 auto;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

#intro-wrapper {
    max-width: 580px;
    margin: 25px auto 0;
    position: relative;
}
#man-link:hover svg {
    fill: #785aa4;
}
#woman-link:hover svg {
    fill: #f56b8f;
}
#man-link:hover {
    color: #785aa4;
}
#woman-link:hover {
    color: #f56b8f;
}
#man-link {
    float: left;
    /*background: url(/img/first-screen/man.png) no-repeat center top;*/
}
#woman-link {
    float: right;
    /*background: url(/img/first-screen/woman.png) no-repeat center top;*/
}
#who-you-are {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 50px;
}
#intro-links-wrap {
    padding-bottom: 50px;
}
#intro-links-wrap a {
   /* padding-top: 120px;*/
    width: 130px;
    text-align: center;
    font-size: 22px;
    display: block;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    transition: all .15s;

}
#intro-links-wrap a:hover svg {
    max-width: 100px;
}
#intro-links-wrap a svg {
    max-width: 92px;
    display: block;
    margin: 0 auto;
    transition: all .15s;
}
.logo {
    position: absolute;
    z-index: 3;
}
.logo img:hover {
    -moz-transform: rotate(360deg); /* Для Firefox */
    -ms-transform: rotate(360deg); /* Для IE */
    -webkit-transform: rotate(360deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(360deg); /* Для Opera */
    transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s; 
}
.logo img {
    width: 62%;
}
#man-icon-in {
    position: absolute;
    z-index: 3;
    top: 690px;
    width: 90px;
}
#man-icon-in svg{
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}
#woman-header #man-icon-in:hover svg{
    fill: #f56b8f;
}
#man-icon-in:hover svg{
    fill: #785aa4;
}
#woman-header .smooth-scroll,
#man-header .smooth-scroll {
    display: block;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: -6em;
}

#woman-header {
    background: url(/img/woman/bg.jpg) no-repeat center top;
    background-attachment: fixed;

    padding-bottom: 160px;
    overflow: hidden;
}

.inner-page h1 {
    padding-top: .54em;
    margin: 0;
    font-size: 90px;
    font-family: borjomilightcregular;
    letter-spacing: 3px;
}
.full-manual {
    color: #fff;
    text-transform: uppercase;
    margin: -2px 0 50px;
    letter-spacing: 2px;
    font-size: 34px;
    display: inline-block;
    position: relative;
}


#man-wrapper .full-manual {
    color: #1f0e3f;
}
.low-width {
    max-width: 700px;
    margin: 0 auto;
}
.generator-block h3 {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 16px;
    margin-bottom: 40px;
}
.page-desc {
    max-width: 1050px;
    margin: 0 auto 10px;
}
.page-desc p {
    font-size: 16px;
    /*font-weight: 300;*/
}
#woman-instruction {
    background: url(/img/woman/instuct-bg.jpg) no-repeat center top;
    background-attachment: fixed;
    padding-top: 45px;
    padding-bottom: 65px;
    background-size: cover;
}
.instructions-block h3 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: .35em;
    margin-bottom: .4em;
}
.instructions-block-text {
    font-size: 16px;
    max-width: 750px;
    margin: 0 auto 2.2em;
    /*font-weight: 300;*/
}
#woman-instruction .container,
#man-instruction .container {
    padding-left: 20px;
    padding-right: 20px;
}
.variables ul li {
    margin-bottom: 1em;
    padding-left: 20px;
    position: relative;
}
.variables {
    font-size: 16px;
    line-height: 1.45;
}
#man-wrapper .variables h3 {
    color: #785aa4;
}
.variables h3 {
    font-weight: 600;
    font-size: 30px;
    color: #f56b8f;
    margin: 0 0 1em;
}
.variables .col-md-4 {
    padding-left: 20px;
    padding-right: 20px;
    /*font-weight: 300;*/
}
.variables {
    margin-left: -20px;
    margin-right: -20px;
}
.col-never {
    padding-left: 60px;
}
.col-maybe {
    padding-left: 60px;
    padding-right: 60px;
}
.variables ul {
    list-style: none;
}   
.variables ul li::before {
  content: "\2022";
  color: #f56b8f; /* or whatever color you prefer */
  font-family: Arial;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 140%;
}
    @media (min-width:992px) {
        .col-maybe ul {
                border-left: 2px solid #c3b5d6;
                border-right: 2px solid #c3b5d6;
                padding-left: 45px;
                margin-left: -25px;
                padding-right: 45px;
                margin-right: -25px;
        }
}

.col-perfect {
    padding-right: 60px;
}
#woman-translator {
    background: url(/img/woman/translator.jpg) no-repeat center top;
    background-attachment: fixed;

    padding-bottom: 65px;
    background-size: cover;
}

#man-translator h2,
#woman-translator h2 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 1.8em;
    margin-bottom: 1em;
}
#woman-translator p {
    font-size: 16px;
    max-width: 740px;
    /*font-weight: 300;*/
}

#footer {
    background: #ebebeb;
    padding-top: 5em;
    padding-bottom: 5em;
}
.footer-cols {
    display: inline-block;
    vertical-align: top;
}
.footer-cols.col-logos {
    width: 262px;
}
.footer-cols.col-menus-1 {
    width: 165px;
}

.footer-cols.col-logos p {
    margin: 0;
}

.footer-cols.col-logos p + p {
    margin-top: 2em;
}
.footer-cols img {
    width: 150px;
}

.col-menus-1,
.col-menus-2 {
    margin-top: 5px;
}

.col-menus-1 p,
.col-menus-2 p {
    font-size: 16px;
    margin-bottom: 1.2em;
}

.col-menus-1 a,
.col-menus-2 a {
    color: #3f373c;
}

#man-header {
    background: url(/img/man/bg.jpg) no-repeat center top fixed;
    padding-bottom: 160px;
}

#man-instruction {
    background: url(/img/man/instruct-bg.jpg) no-repeat center top fixed;
    padding-top: 45px;
    padding-bottom: 65px;
    background-size: cover;
}

#man-translator {
    background: url(/img/man/translator-bg.jpg) no-repeat center top fixed;
    padding-bottom: 65px;
    background-size: cover;
}

.inner-page select {
    width: 100%;
    line-height: 50px;
    margin-bottom: 1em;
}

.inner-page button {
    font-size: 30px;
    letter-spacing: 1px;
    color: #fff;
    background: #44c39b;
    border-radius: 0;
    border: 0 none;
    width: 100%;
    max-width: 670px;
    line-height: 3;
    padding: 0;
    text-align: center;
}

#man-wrapper.inner-page button {
    background: #301b7a;
}
#man-wrapper.inner-page button:active,
#man-wrapper.inner-page button:focus  {
    background: #220e69;
}
#man-wrapper.inner-page button:hover  {
    background: #3c258b;
}

.inner-page button:active,
.inner-page button:focus {
    background: #56d5ad;
}
.inner-page button:hover {
    background: #56d5ad;
}
.share-color-blue a {
    fill: #6ac7d4;
    text-decoration: none;
    cursor: pointer;
}
.share-color-blue a:hover {
    fill: #ef829f;
    text-decoration: none;
}
.share-color-blue {
    color: #6ac7d4;
}
.share-woman svg {
    width: 1em;
    height: 1em;
    font-size: 50px;
}
.share-woman-text {
    font-size: 24px;
}

.share-color-pink a {
    fill: #ef829f;
    text-decoration: none;
    cursor: pointer;
}
.share-color-pink a:hover {
    fill: #6ac7d4;
    text-decoration: none;
}
.share-color-pink {
    color: #ef829f;
}

.share-color-violet a {
    fill: #8b6ec3;
    text-decoration: none;
    cursor: pointer;
}
.share-color-violet a:hover {
    fill: #f56b8f;
    text-decoration: none;
}
.share-color-violet {
    color: #8b6ec3;
}

.share-color-pink2 a {
    fill: #f56b8f;
    text-decoration: none;
    cursor: pointer;
}
.share-color-pink2 a:hover {
    fill: #8b6ec3;
    text-decoration: none;
}
.share-color-pink2 {
    color: #f56b8f;
}

.share-block h3 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 18px;
}
.social a,
.social-bottom a {
    margin-right: 19px;
}
.social a:last-child,
.social-bottom a:last-child {
    margin-right: 0;
}


#man-translator button,
#woman-translator button {
    margin-top: 1.4em;
    margin-bottom: 2.4em;
}

.select2-container {
    display: block;
    font-size: 24px;
    text-align: center;
}
.select2-container .select2-selection--single {
    height: 3.5em;
    margin-bottom: 2em;
    margin-top: 2em;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 3.5;
    color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #fff;
}
.phrase-button {
    max-width: 500px;
}
.phrase-button .select2-container--default .select2-selection--single {
    background-color: #44c39b;
    border: 1px solid #44c39b;
}
.phrase-button .select2-container--default .select2-selection--single:hover {
    background-color: #56d5ad;
    border: 1px solid #56d5ad;
}


#man-wrapper .phrase-button .select2-container--default .select2-selection--single {
    background-color: #301b7a;
    border: 1px solid #301b7a;
}
#man-wrapper .phrase-button .select2-container--default .select2-selection--single:hover {
    background-color: #2e3192;
    border: 1px solid #2e3192;
}
#man-wrapper .phrase-button .select2-container--open .select2-selection--single {
    background-color: #220e69;
    border: 1px solid #220e69;
}



#man-wrapper .select2-container--default .select2-selection--single {
    background-color: #48ded5;
    border: 1px solid #48ded5;
    border-radius: 0px;
}
#man-wrapper .select2-container--default .select2-selection--single:hover {
    background-color: #5ae4dc;
    border: 1px solid #5ae4dc;
}
#man-wrapper .select2-container--open .select2-selection--single {
    background-color: #29cec4;
    border: 1px solid #29cec4;
}



.select2-container--default .select2-selection--single {
    background-color: #8b6ec3;
    border: 1px solid #8b6ec3;
    border-radius: 0px;
}
.select2-container--default .select2-selection--single:hover {
    background-color: #9a7fcd;
    border: 1px solid #9a7fcd;
    border-radius: 0px;
}
.select2-container--open .select2-selection {
    background-color: #795cb2;
}
.select2-container--open .select2-selection:hover {
    background-color: #795cb2;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-search--dropdown .select2-search__field {
    display: none;
}
.select2-results {
    text-align: left;
}
*:focus { outline: none; }
.select2-results__option[aria-selected] {
    padding: 10px 5px 10px 74px;
    background: url(/img/checkbox.png) 20px -165px no-repeat;
    font-size: 16px;
    background-size: 25px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
    color: #000000 !important;
    background-position: 20px 10px  ;
}
.select2-container--classic .select2-results>.select2-results__options, .select2-container--default .select2-results>.select2-results__options {
    max-height: 400px;
}

.popup {
    position: relative;
    z-index: 100;
    max-width: 900px;
    width: 95%;
    padding-left: 235px;
    padding-top: 80px;
    padding-bottom: 75px;
    padding-right: 45px;
    background: url(/img/flowers-popup.png) 30px 15px no-repeat #fff;
    box-shadow: 0 0 9px 0 #666;
}
.popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.present-button {
    margin-bottom: 3em;
}
.popup .present-button a:hover {
    text-decoration: none;
    background: #a66ec3;
}
.popup .present-button a {
    display: block;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    background: #8b6ec3;
    border-radius: 0;
    border: 0;
    width: 100%;
    max-width: 670px;
    line-height: 3;
    padding: 0;
    text-align: center;
}
.popup-present .share-block {
    position: absolute;
    right: 5em;
    bottom: 2em;
}
.close-butt {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 55px;
    color: #6ac7d4;
    line-height: 1;
    z-index: 1;
}
.close-butt span {
    transform: rotate(45deg);
    display: block;
    cursor: pointer;
}
.popup h3 {
    margin: 0 0 1em;
}
.present-text {
    margin-bottom: 2em;
    font-size: 16px;
}
.popup-present img {
    width: 300px;
    max-width: 100%;
}

.popup-kaspi img {
    max-width: 105px;
    height: auto;
}
.popup-kaspi {
    position: absolute;
    bottom: 15px;
    left: 65px;

}

.popup.popup-phrase .popup-kaspi {
    left: 45px;
    bottom: 57px;
}
.popup.popup-phrase {
    padding-left: 30px;
    padding-right: 265px;
    max-width: 755px;
    background-position: 95% center;
    padding-top: 63px;
    padding-bottom: 65px;
}


.full-manual:before {
    content: "";
    width: 70px;
    border: 1px solid;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: -90px;
    display: block;
    top: 50%;
}

.full-manual:after {
    content: "";
    width: 70px;
    border: 1px solid;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: -90px;
    display: block;
    top: 50%;
}

#front-kaspi {
    position: absolute;
    right: 5em;
    top: 3em;
    max-width: 10em;
    z-index: 100;
}
#front-kaspi img {
    max-width: 100%;
    height: auto;
}
.translator-text {
    width: 70%;
    font-size: 16px;
    /*font-weight: 300;*/
}

.arrow {
    box-sizing: border-box;
    margin: 0 auto;
    height: 55px;
    width: 55px;
    border-style: solid;
    border-color: #8970BF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transition: border .15s;
    -moz-transition: border .15s;
    -ms-transition: border .15s;
    -o-transition: border .15s;
    transition: border .15s;
    /*: border-width 150ms ease-in-out;*/
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}


/*

#share {
    width:100%;
    border:1px solid #eaeaea;
    margin: 0 auto;
    background:#fff;
    text-align:center;
}
.like {
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
}
.push {
    display: inline-block;
    width: 17%;
    min-width: 100px;
    line-height: 40px;
    margin: 5px 2px 20px 2px;
    font-size: 15px;
    text-align: center;
    color:#fff;
    cursor: pointer;
}

.facebook {background-color:#3b5998;}
.facebook:hover {background-color:#2d4373; color:#fff;}
.google {background-color:#dd4b39;}
.google:hover {background-color:#c23321; color:#fff;}
.twitter {background-color:#55acee;}
.twitter:hover {background-color:#2795e9; color:#fff;}
.vkontakte {background-color:#587ea3;}
.vkontakte:hover {background-color:#466482; color:#fff;}
.ok {background-color:#ee8208;}
.ok:hover {background-color:#ee7808; color:#fff;}*/

@media (max-width: 1400px) {
    #site-name h1 {
        font-size: 36px;
    }
    #site-name-wrapper {
        width: 450px;
        height: 450px;
    }
    #intro-wrapper {
        max-width: 520px;
        margin: 0 auto;
        position: relative;
    }
    #intro-links-wrap a {
        padding-top: 80px;
        width: 200px;
        background-size: 60px;
        text-align: center;
        font-size: 18px;
    }
    #intro-links-wrap {
        padding-bottom: 50px;
    }
    #who-you-are {
        font-size: 30px;
        top: 34px;
    }
    #site-name h3 {
        font-size: 14px;
    }
    #front-kaspi {
        position: absolute;
        right: 4em;
        top: 2em;
        max-width: 7em;
        z-index: 100;
    }
}

@media (max-width: 1023px) {
    #scene-wrapper {
        display: none;
    }
    .logo {
        display: none;
    }

#man-icon-in {
    display: none;
}
}
@media (max-width: 768px) {
    .inner-page h1 {
        font-size: 50px;
    }
    .full-manual {
        font-size: 24px;
    }
    .front-kaspi-man {
        display: none;
    }
}
@media (max-width: 480px) {
    .select2-container {
        margin: 0 auto;
    }
    #site-name {
        max-width: 240px;
    }
    #site-name h1 {
        font-size: 26px;
        margin-bottom: 5px;
    }
    #site-name h3 {
        font-size: 18px;
        letter-spacing: 0px;
    }
    #front-kaspi {
        right: 50%;
        top: 1em;
        max-width: 7em;
        margin-right: -3em;
    }
    #site-name-wrapper {
        height: 350px;
    }
    #intro-links-wrap a {
        padding-top: 80px;
        font-size: 16px;
        background-size: 60px;
        width: 130px;
        text-align: center;
        display: block;
        color: #000;
        text-decoration: underline;
    }
    #who-you-are {
        text-align: center;
        font-size: 18px;
        letter-spacing: 2px;
        width: 100%;
        left: 0;
        margin-left: 0;
        position: relative;
        top: 0;
    }
    #intro-links-wrap {
        padding-bottom: 50px;
        max-width: 260px;
        margin: 1em auto;
    }
    #woman-link {
        background-position: 50% 20%;
    }
    #woman-header, #man-header {
        padding-top: 3em;
    }


    #site-name-flex {
        padding-top: 50px;
    }
    .inner-page h1 {
        padding-top: .54em;
        margin: 0;
        font-size: 46px;
        letter-spacing: 0;
    }
    .full-manual {
        letter-spacing: 0;
        font-size: 20px;
        position: relative;
    }
    .full-manual:after, .full-manual:before {
        width: 20px;

    }
    .generator-block h3 {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0;
        margin-top: 16px;
        margin-bottom: 40px;
    }
    .full-manual:before {
        left: -30px;
    }
    .full-manual:after {
        right: -30px;
    }
    .page-desc p {
        font-size: 14px;
    }
    .instructions-block h3 {
        font-size: 24px;
        letter-spacing: 0;
    }
    .instructions-block-text {
        font-size: 14px;
    }
    .col-maybe,
    .col-never,
    .col-perfect {
        padding-right: 15px;
        padding-left: 15px;
        background: none;
    }

    .translator-text {
        width: 100%;
    }
    .select2-container,
    .inner-page button {
        font-size: 20px;
        max-width: 90%;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 3;
    }
    .select2-container .select2-selection--single {
        height: 3em;
    }
    .popup {
        background: #fff;
        padding: 15px 0;
        margin: 0 auto;
    }
    #man-translator h2, #woman-translator h2 {
        font-size: 24px;
        letter-spacing: 0;
    }
    .popup-present .popup-kaspi img {
        max-width: 100px;
        max-height: 100px;
        height: auto;
    }

    .popup .present-button a {
        line-height: 2;
    }
    .popup.popup-phrase {
        max-width: 755px;
        background-position: 95% center;
        padding: 15px 0 65px;
    }
    .popup.popup-phrase .popup-kaspi {
        left: 15px;
        bottom: 0;
    }
    .popup-present .share-block {
        position: relative;
        right: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    .popup-kaspi {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        display: block;
        margin: 1em 0 0;
    }
    .popup-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 2em 0;
    }
    #footer {
        background: #ebebeb;
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .footer-cols.col-logos p+p {
        margin-top: 1em;
    }
    .footer-cols img {
        width: 125px;
    }
    .variables {
        margin-left: -60px;
        margin-right: -15px;
    }
    /* margin-right: -60px; */
}